* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url('./welcomeimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    backdrop-filter: blur(1px);
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    animation: zoomIn 1s ease-in-out;
}

.content h1.welcome {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    margin-bottom: 30px;
    color: #333;
    animation: slideInDown 1s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

.begin-button {
    padding: 15px 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.begin-button:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .content h1.welcome {
        font-size: 2.5em;
    }

    .begin-button {
        padding: 12px 30px;
        font-size: 1em;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}